* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  width: 100vw;
  background-color: #F5F7FB;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blob1 {
  position: fixed;
  top: 0;
  right: 0;
  z-index: -1;
}

.blob2 {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: -1;
}

#startQuiz {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 360px;
}

#startQuiz--title {
  margin: 0;
}

#startQuiz--description {
  text-align: center;
}

#trivia {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: solid #DBDEF0 0.79px;
}

.trivia--question {
  font-size: 16px;
  font-weight: 700;
  align-self: flex-start;
}

.trivia--answers {
  display: flex;
  flex-wrap: wrap;
  gap: 13px;
  justify-items: center;
  padding-bottom: 15px;
}


/* Buttons */

.answerBtn {
  height: 20.6px;
  border: solid #4D5B9E;
  border-radius: 7.71045px;
  color: #293264;
  font-size: 10.25px;
}

.answerBtn:hover {
  cursor: pointer;
}

.button {
  width: 193px;
  height: 52px;
  border-radius: 15px;
  border: none;
  background-color: #4D5B9E;
  color: #F5F7FB;
  font-size: 1rem;
  font-weight: 600;
}

#App--checkBtn {
  font-size: 10.24px;
  height: 30px;
  width: 120px;
  margin: 16px;
}

#startQuiz--btn:hover,
#App--checkBtn:hover {
  cursor: pointer;
}

#startQuiz--btn:active,
#App--checkBtn:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

/* ------------ */

#checkOrNext {
  display: flex;
  width: 100vw;
  justify-content: center;
}